/*阿里巴巴图标库*/

@font-face {
  font-family: 'iconfont';  /* project id 448084 */
  src: url('//at.alicdn.com/t/font_448084_bvdfbutc6r24vx6r.eot');
  src: url('//at.alicdn.com/t/font_448084_bvdfbutc6r24vx6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_448084_bvdfbutc6r24vx6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_448084_bvdfbutc6r24vx6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_448084_bvdfbutc6r24vx6r.svg#iconfont') format('svg');
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

*{
  font-family: 'PingFang SC','Microsoft YaHei',SimHei,Arial,SimSun !important;
}

/*手型*/

.pot{
  cursor:pointer
}

.iconfont+.iconfont {
	margin-right: 5px;
}

/*定义一键换换色*/
:root{
	--color:#009688;
	/* --color:#f60; */
}

/*element-ui 补充*/

.el-pagination {
	text-align: center;
}

.el-pagination.is-background .el-pager li.active {
	background-color: var(--color);
}

.el-pagination.is-background .el-pager li:hover {
	color: var(--color);
}

.el-textarea__inner {
	padding: 10px;
}

.el-textarea__inner:focus {
	border-color: var(--color);
}

.el-progress-bar__inner {
	background-color: var(--color);
}

.el-tag--mini + .el-tag--mini{
	margin-left: 5px;
}

/*全局样式*/

* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

*,
 :after,
 :before {
	box-sizing: border-box;
}

a {
	color: var(--color);
	text-decoration: none;
}

a:hover {
	color: #333333;
	text-decoration: none;
}
/* 选中后颜色 */
::selection {
    background:var(--color);
    color:#fff;
}

::-moz-selection {
    background:var(--color);
    color:#fff;
}

::-webkit-selection {
    background:var(--color);
    color:#fff;
}

ul,
li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: initial;
}



.l {
	float: left;
}

.r {
	float: right;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.background {
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 15px #ccc;
	box-shadow: 0px 0px 15px #ccc;
}

.p20 {
	padding: 20px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.container span {
  color: #999;
}

.el-container {
	padding: 80px 0 20px 0;
	background: #FFF;
	background-image:url(../img/bug.png),url(../img/bj.png);

}


::-webkit-scrollbar-corner{
    background: #82AFFF;
}
::-webkit-scrollbar { width: 6px;}

::-webkit-scrollbar-thumb {
    background: #999;
}
::-webkit-scrollbar-thumb:window-inactive { background: var(--color);}



div.title {
	border-bottom: dashed 1px #ccc;
	padding-bottom: 8px;
	overflow: hidden;
	margin-bottom: 10px;
}

div.title h1 {
	font-size: 18px;
}

div.title a {
	font-size: 14px;
}


/*首页*/

.container-index {
	width: 100%;
	margin: 0 auto;
}

.background-fixed {
	width: 100%;
	height: 700px;
	background: url(/static/home/img/bj4.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.background-fixed:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .78);
}

.blog-container {
	padding-top: 220px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 1;
	color: #FFF;
	position: relative;
}

.blog-container .blog-name {
	font-size: 60px;
}

.blog-container .blog-description {
	font-size: 28px;
	color: #ccc;
}

.blog-container .index-btns {
	width: 500px;
	margin: auto;
	margin-top: 40px;
	overflow: hidden;
}

.blog-container .index-btns a {
	width: 240px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	display: block;
	float: left;
	border: 1px #ffffff solid;
	border-radius: 25px;
	-moz-border-radius: 25px;
	color: #FFFFFF;
}
.blog-container .index-btns i{
	font-size: 24px;
}

.blog-container .index-btns a:first-child {
	margin-right: 20px;
	background-color: var(--color);
	border-color: var(--color);
}

.blog-container .index-btns a:hover {
	filter: alpha(Opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.container-body {
	width: 1000px;
	margin: auto;
	text-align: center;
	padding: 100px 0;
}

.container-body h2 {
	color: #333;
}

.container-body .description {
	font-size: 20px;
	color: #999;
	margin-top: 20px;
}

.container-body .technology .core {
	margin: auto;
	display: flex;
	width: 400px;
	margin-top: 40px;
}

.container-body .technology .core b {
	flex: 1;
	font-size: 40px;
	font-weight: initial;
	background-color: #CCCCCC;
	width: 200px;
	height: 200px;
	float: left;
	line-height: 200px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	color: #FFF;
}

.container-body .technology .core b.fed {
	background-color: rgba(0, 150, 136, 0.5);
	margin: 0 -10px 0 10px;
}

.container-body .technology .core b.api {
	background-color: rgba(0, 153, 204, 0.5);
	margin: 0 10px 0 -10px;
}

.container-body .technology .list {
	margin-top: 50px;
	display: flex;
}

.container-body .technology .list div {
	flex: 1;
}

.container-body .technology .list div.l {
	padding-right: 90px;
	text-align: right;
}

.container-body .technology .list div.l ul {
	border-right: solid 1px #CCCCCC;
	padding-right: 50px;
	margin-right: 5px;
}

.container-body .technology .list div.l em {
	width: 10px;
	height: 10px;
	display: -webkit-inline-box;
	background-color: rgba(0, 150, 136, 1);
	border-radius: 50%;
	-moz-border-radius: 50%;
}

.container-body .technology .list div.r {
	padding-left: 90px;
	text-align: left;
}

.container-body .technology .list div.r ul {
	border-left: solid 1px #CCCCCC;
	padding-left: 50px;
	margin-left: 5px;
}

.container-body .technology .list div.r em {
	width: 10px;
	height: 10px;
	display: -webkit-inline-box;
	background-color: rgba(0, 153, 204, 1);
	border-radius: 50%;
	-moz-border-radius: 50%;
}

.container-body .technology ul {
	min-height: 320px;
}

.container-body .technology ul li {
	padding-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #999;
}

.container-about {
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 100px 0;
	background-color: #e7efee;
}

.container-about h1 {
	color: #333;
	font-size: 38px;
}

.container-about p {
	margin-top: 10px;
	font-size: 16px;
	color: #666;
}

.container-about span {
	font-size: 24px;
	color: #666;
	margin: 20px 0 40px 0;
	display: block;
}

.container-flink {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 100px 0;
	background-color: #fff;
}

.container-flink div {
	margin-top: 40px;
}

.container-flink div a {
	margin-right: 10px;
}


/*文章页*/

.article-list{
	min-height: 500px;
}

.article-list .li {
	height: 170px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 15px #ccc;
}

.article-list .li>div:nth-child(1) {
	height: 100%;
}

.article-list .li>div:nth-child(1) img {
	height: 100%;
	width: 100%;
}

.article-list .li>div:nth-child(2) {
	padding: 10px;
	float: left;
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	color: #666;
}

.article-list .li>div:nth-child(2) h1 {
	color: #333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.article-list .li>div:nth-child(2) a:hover h1 {
	color: #666;
}

.article-list .li>div:nth-child(2) p {
	color: #666;
	height: 85px;
	margin: 5px 0;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.article-r {
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	margin-bottom: 20px;
	box-shadow: 0px 0px 15px #ccc;
}

.article-r div {
	overflow: hidden;
}

.article-r div.title {
	border-bottom: dashed 1px #ccc;
	padding-bottom: 8px;
}

.article-r div.title h1 {
	font-size: 18px;
}

.article-r div.title a {
	font-size: 14px;
}

.article-type>ul li a {
	padding-left: 15px;
	height: 40px;
	line-height: 40px;
	display: block;
	width: 100%;
	border-left: solid 2px #FFF;
}

.article-type ul li a:hover,
.article-type ul li a.active {
	background-color: rgba(200, 200, 200, 0.3);
	border-left: solid 2px var(--color);
	color: #333333;
}

.article-type ul ul a {
	padding-left: 30px;
}

.article-key div.content a {
	display: block;
	float: left;
	margin: 10px 10px 0px 0;
}

.article-hot div.content ul {
	margin-top: 10px;
}

.article-hot div.content ul li {
	margin-bottom: 5px;
}


/*归档*/

.archive-content {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 15px #ccc;
}

.archive-content>ul {
	margin-bottom: 20px;
}

.archive-content>ul li {
	overflow: hidden;
	height: 40px;
	line-height: 40px;
	width: 100%;
}

.archive-content>ul li span {
	width: 100px;
	display: block;
	float: left;
	border-right: solid 1px #CCCCCC;
	padding-bottom: 20px;
	margin-right: 20px;
	position: relative;
}

.archive-content>ul li span {
	width: 100px;
	display: block;
	float: left;
	border-right: solid 1px #CCCCCC;
	padding-bottom: 20px;
	margin-right: 20px;
	position: relative;
}

.archive-content>ul li b {
	position: absolute;
}

.archive-content>ul li em {
	color: #666;
	padding-right: 5px;
	font-style: normal;
}

.archive-content>ul li.y a {
	background-color: #F00;
	color: #fff;
	border-radius: 25%;
	-moz-border-radius: 25%;
	padding: 0 3px;
}

.archive-content>ul li.y span {
	font-size: 18px;
}

.archive-content>ul li.y span b {
	width: 20px;
	height: 20px;
	display: block;
	border: solid 2px var(--color);
	background-color: rgba(255, 255, 255, 0.5);
	float: right;
	border-radius: 50%;
	-moz-border-radius: 50%;
	right: -10px;
	top: 10px;
}

.archive-content>ul li.m:hover {
	background-color: rgba(200, 200, 200, 0.3);
	;
}

.archive-content>ul li.m span {
	font-size: 16px;
	text-align: right;
	padding-right: 27px;
}

.archive-content>ul li.m span b {
	width: 10px;
	height: 10px;
	display: block;
	background-color: var(--color);
	float: right;
	border-radius: 50%;
	-moz-border-radius: 50%;
	right: -5px;
	top: 15px;
}

.leave {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 15px #ccc;
	box-shadow: 0px 0px 15px #ccc;
}

.leave .tools {
	margin-top: 5px;
}

.leave .tools i {
	font-size: 30px;
	color: #999999;
}

.leave .tools i:hover {
	color: var(--color);
	cursor: pointer;
}

.leave .editor{
  background-color: #fff;
  border: solid 1px #dcdfe6;
  border-radius: 5px;
  padding: 10px;
  height: 150px;
  margin-bottom: 15px;
  overflow: auto;
}

.leave-content {
	margin-top: 20px;
	overflow: hidden;
}

.leave-content>ul {
	margin-bottom: 20px;
	width: 900px;
	margin-right: 20px;
  min-height: 500px;
}

.leave-content .hot {
	width: 280px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 0px 15px #ccc;
	box-shadow: 0px 0px 15px #ccc;
}

.leave-content .hot div.title {
	border-bottom: dashed 1px #ccc;
	padding-bottom: 8px;
	overflow: hidden;
}

.leave-content .hot div.title h1 {
	font-size: 18px;
}

.leave-content .hot div.title a {
	font-size: 14px;
}

.leave-content .hot div.content ul {
	margin-top: 10px;
}

.leave-content .hot div.content ul li {
	margin-bottom: 5px;
}

.leave-content>ul li {
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 0px 15px #ccc;
	box-shadow: 0px 0px 15px #ccc;
}

.leave-content>ul li .img {
	width: 100px;
	height: auto;
	display: block;
	position: relative;
	font-size: 16px;
	text-align: right;
	padding: 10px;
}

.leave-content>ul li .img img {
	width: 80px;
	height: 80px;
}

.leave-content>ul li .img:before {
	content: "";
	position: absolute;
	top: 45px;
	right: 0px;
	border: 5px solid rgba(0, 0, 0, 0);
	border-right-color: #ccc;
	z-index: 1;
}

.leave-content>ul li .content {
	padding: 10px;
	border-left: solid 1px #CCCCCC;
	width: 800px;
	position: relative;
  min-height: 105px;
}

.leave-content>ul li .content i.lou{
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	padding-right: 25px;
	color: #ccc;
}

.leave-content>ul li .content > p {
	font-size: 14px;
	color: #333;
	min-height: 39px;
	display: block;
	overflow: hidden;
	margin-top: 2px;
	position: relative;
}

.leave-content>ul li .content span {
	font-size: 12px;
	color: #666;
}

.leave-content>ul li .content .reply {
	border-top: 1px #ccc dashed;
	margin-top: 9px;
	padding-top: 5px;
	width: 100%;
}

.leave-content>ul li .content .reply > a img
{
  float: left;
  width: 42px;
  height: 42px;
  margin: 0 5px 5px 0;
}



/*个人资料*/

.container > .info>div {
	min-height: 800px;
}

.skills {
	overflow: hidden;
}

.skills>div {
	width: 50%;
	float: left;
	color: #666;
	margin-bottom: 10px;
}

.info-content .item {
	margin-bottom: 5px;
	color: #666;
}
.info-content span {
	font-size: 14px
}

.work {
	margin-top: 30px;
	color: #666;
}

.work ul li {
	width: 100%;
	overflow: hidden;
}

.work ul li div.date {
	width: 100px;
	padding: 20px 0;
}

.work ul li div.content {
	position: relative;
	padding: 20px 30px;
	border-left: solid 1px #ccc;
	width: 760px;
}

.work ul li div.content:after {
	content: "";
	width: 15px;
	height: 15px;
	background-color: var(--color);
	position: absolute;
	top: 25px;
	left: -8px;
	border: solid 3px rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	-moz-border-radius: 50%;
}

.work ul li div.content div {
	overflow: hidden;
	margin-bottom: 10px;
}

.work ul li div.content div h4+h4 {
	border-left: solid 1px #ccc;
	padding-left: 10px;
	margin-left: 10px;
}

.work ul li div.content .workbody {
	margin-top: 20px;
}

.work ul li div.content .workbody p {
	font-size: 14px;
	color: #999;
	margin-top: 10px;
}


/*QQ表情*/
.qqbq{
  width: 372px;
  height: 153px;
  position: absolute;
  background-color: #FFF;
  padding: 5px;
  border: 1px #dcdfe6 solid;
  z-index: 109;
}

.qqbq li{
  float: left;
}

