.archive-content{
		padding: 20px;
		background-color: #FFF;
		box-shadow: 0px 0px 15px #ccc;
}

.archive-content > ul {
	
	margin-bottom: 20px;
}

.archive-content > ul li{
	overflow: hidden;
	height: 40px;
	line-height: 40px;
	width: 100%;
}
.archive-content > ul li span{
	width: 100px;
	display: block;
	float: left;
	border-right: solid 1px #CCCCCC;
	padding-bottom: 20px;
	margin-right: 20px;
	position: relative;
}

.archive-content > ul li span{
	width: 100px;
	display: block;
	float: left;
	border-right: solid 1px #CCCCCC;
	padding-bottom: 20px;
	margin-right: 20px;
	position: relative;
}

.archive-content > ul li b{
	position: absolute;
}
.archive-content > ul li em{
	color: #666;
	padding-right: 5px;
	font-style:normal;
}
.archive-content > ul li.y a{
	background-color: #F00;
    color: #fff;
    border-radius:25%;
	-moz-border-radius:25%;
	padding: 0 3px;
}

.archive-content > ul li.y span{
	font-size: 18px;
}

.archive-content > ul li.y span b{
	width: 20px;
	height: 20px;
	display: block;
	border: solid 2px  #009688;
	background-color: #FFF;
	float: right;
	border-radius:50%;
	-moz-border-radius:50%;
	right: -10px;
    top: 10px;
}

.archive-content > ul li.m:hover{
	background-color: rgba(200,200,200,0.3);;
}

.archive-content > ul li.m span{
	font-size: 16px;
	text-align: right;
	padding-right: 27px;
}

.archive-content > ul li.m span b{
	width: 10px;
	height: 10px;
	display: block;
	background-color: #009688;
	float: right;
	border-radius:50%;
	-moz-border-radius:50%;
	right: -5px;
    top: 15px;
}
